body{
    background-image: url('../../../images/mandalas.jpg'); /* Path relative to your CSS file */
    background-size: cover;       /* Makes the image cover the entire area */
    background-position: center;  /* Center the background image */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    height: 100%;               /* Set full viewport height for the background */
    width: 100%;
}
/* AdminDashboard.css */
.admin-dashboard-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.admin-dashboard-tabs {
    margin-top: 70px;
    margin-bottom: 50px;
}

.admin-dashboard-tabs button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #80212b;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.admin-dashboard-tabs button:hover {
    background-color: #0056b3;
}

.admin-dashboard-content {
    width: 100%;
    max-width: 1200px;
    background-color:#80212b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
