/* Style the customer navbar container */
.customer-navbar {
    width: 18%;
    background-color: #ffffff;
    padding: 18px;
    position: fixed;
    height: 100vh;
    box-sizing: border-box;
    border-right: 1px solid #dedede; /* Border on the right side of the navbar */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    margin-right: 100%;
}

/* Style for the button container */
.customer-navbar-buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Style for each button */
.customer-nav-button {
    background-color: #fff;
    border: 1px solid #dedede;
    color: #741c25; /* Initial text color */
    padding: 10px 20px;
    margin-bottom: 30px;
    width: 90%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Hover effect */
.customer-nav-button:hover {
    background-color: rgba(116, 28, 37, 0.6);
    color: white;
}

/* Active button styling */
.customer-nav-button.active {
    background-color: rgba(116, 28, 37, 0.8);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Customer profile section */
.customer-profile {
    text-align: center;
    padding: 1rem 0;
    margin-top: auto; /* Pushes the profile to the bottom */
    border-top: 1px solid #ccc;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.customer-name {
    font-size: 1rem;
    font-weight: bold;
    color: black; /* Black name color to match navbar */
}

/* Style the dashboard content */
.dashboard-content {
   /* Prevent overlap with navbar */
   margin-left: 300px;
}
