.container {
    display: flex;
    margin: 0;
    padding: 0;
}

.side-nav {
    width: 20%;
    background-color: #690f0f;
    padding: 20px;
    position: fixed;
    height: 100vh;
    box-sizing: border-box;
}

.side-nav ul {
    list-style: none;
    padding: 0;
}

.side-nav li {
    margin-top: 50px;
}

.side-nav a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 15px 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff; 
    transition: background-color 0.2s ease, color 0.3s ease;
}

.side-nav a:hover {
    background-color: #9e9400;
    color: #fff; 
}

.side-nav a.active {
    background-color: #10921b;
    color: white; 
    border-color: #10921b; 
}

.main-content {
    margin-left: 25%;
    width: 100%; 
    padding: 20px;
    margin-right: 0;
}

.category-grid {
    display: flex;
    width: 100%;
    gap: 35px;
    justify-content: center;
    margin-top: 20px;
}

.category-block {
    margin-top: 20px;
    width: 120px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #f3f3f3;
    padding: 10px;
    background-color: #962727;
    text-align: center;
    cursor: pointer;
}

.category-block i {
    font-size: 35px;
}

.order-summary {
    margin-top: 40px;
    background-color: #f3f3f3;
    color: #000;
    padding: 20px;
    border-radius: 10px;
}

.order-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.order-item span {
    flex: 1;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-control button {
    width: 30px;
    height: 30px;
}

.total {
    font-weight: bold;
    margin-top: 10px;
}

.checkout-btn {
    margin-top: 20px;
    background-color: #10921b;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.orders-section {
    margin-top: 20px;
}

.order-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #d1cfcf;
    color: #000;
    border-radius: 10px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.modal-content {
    background: white;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
}

.modal-content .close {
    position: absolute;
    color: #000;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

form {
    padding: 20px;
}

.tab {
    display: flex;

}

.tab button {
    padding: 10px 20px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
}

.tab button.active {
    background-color: #4c7379;
    color: white;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #000;
}

.menu-item button {
    background-color: #6ca4a7;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.menu-item button:hover {
    background-color: #5a8a91;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    margin-bottom: 5px;
    color: #000;
    padding-top: 5px;
}


.form-group input {
    width: 100%;
    padding-bottom: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
}

.modal-content button {
    padding: 10px 20px;
    background-color: #6ca4a7;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.modal-content button:hover {
    background-color: #5a8a91;
}