.employee-nav {
    margin-left: 10; /* Set left margin to 0 to align the navbar properly */
    width: 20%;
    background-color: #fff;
    padding: 20px;
    position: fixed;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Stack items vertically */
}

.employee-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.employee-nav a {
    display: block;
    text-decoration: none;
    color: #741c25; /* Initial text color */
    padding: 15px 0; /* Vertical padding for better spacing */
    border: none; /* Remove border */
    border-radius: 0; /* Remove rounded corners */
    background: none; /* No background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add subtle shadow for shading effect */
    margin-bottom: 20px; /* Space between items */
    width: 100%; /* Span full width of the side-nav */
    text-align: center; /* Center align text */
    transition: background-color 0.2s ease, color 0.3s ease; /* Smooth transition for hover effects */
}

.employee-nav a:hover {
    color: #fff; /* White text color on hover */
    background: rgba(116, 28, 37, 0.6); /* Darker background on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Darker shadow on hover for more pronounced shading */
}

.employee-nav .active {
    color: #fff; /* White text color for active link */
    background: rgba(116, 28, 37, 0.8); /* Slightly darker background for active link */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Consistent shadow for active link */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .employee-nav a {
        padding: 10px;
        font-size: 14px;
    }
}
