/* General styles */
.order-management {
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 90%;
  margin-left: 130px;
}

.order-header {
  color: #000;
}

.search-bar {
  margin-bottom: 20px;
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  font-size: 16px;
}

/* Table styles */
.table-container {
  margin-bottom: 30px;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
}

.order-table th,
.order-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.order-table th {
 background-color:  rgba(116, 28, 37);
}

td select {
width: 100%; 
padding: 10px 5px;
font-size: 16px;
font-family: 'Arial', sans-serif;
color: #333;
background-color: #f8f9fa;
border: 1px solid #ccc;
border-radius: 8px;
transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Border changes on hover/focus */
td select:hover, 
td select:focus {
border-color: #5884fc; 
box-shadow: 0 0 8px rgba(88, 132, 252, 0.3); 
outline: none;
cursor: pointer;
}

td select option {
padding: 10px;
}

.action-cell {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%; 
}

.btn-view-details {
background-color: #5884fc; 
color: white;
padding: 10px 20px; 
border: none;
border-radius: 5px;
font-size: 16px;
text-align: center;
cursor: pointer;
transition: background-color 0.3s ease;
}

.btn-view-details:hover {
background-color: #103a7e;
}

/* General modal styles */
.orders-modal-overlay {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0, 0, 0, 0.7);
display: flex;
align-items: center;
justify-content: center;
z-index: 1000;
}

/* Modal container */
.orders-modal {
background: #fff;
padding: 20px;
border-radius: 8px;
width: 400px;
max-width: 90%;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Modal header */
.orders-modal h2 {
margin: 0 0 15px;
font-size: 30px;
background-color:  rgba(116, 28, 37);
border-radius: 10px;
padding: 10px;
color: #ffffff
}

.orders-modal h3 {
margin: 0 0 15px;
font-size: 24px;
background-color:  rgba(116, 28, 37);
border-radius: 10px;
padding: 10px;
color: #ffffff
}

/* Modal content styles */
.modal-content {
margin-bottom: 20px;
font-size: 16px; 
color: #555;
}

/* Modal item list */
.modal-content ul {
list-style-type: none;
padding: 0;
}

.modal-content li {
margin-bottom: 10px;
padding: 10px;
border: 1px solid #e0e0e0;
border-radius: 5px; 
background-color: #f9f9f9;
}

/* Close button styles */
.modal-close-btn {
background: #007bff;
color: white;
width: 150px;
border: none;
padding: 10px 15px;
border-radius: 5px;
cursor: pointer;
transition: background 0.3s ease;
}

/* Close button hover effect */
.modal-close-btn:hover {
background: #0056b3;
}

/* Responsive styles */
@media (max-width: 768px) {
.orders-modal {
    width: 50%;
}

.modal-content {
    font-size: 14px;
}

.modal-close-btn {
    padding: 8px 12px;
}
}



