@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');

.navbar {
  background: linear-gradient(45deg, #741c25, #741c25) !important; /* Adjust the colors as needed */
}

.navbar-nav .nav-link {
  color: #ffffff; /* Default color */
}

.navbar-nav .nav-link.active {
  color: #000000 !important; /* Highlight color for the active link */
}

.navbar-nav .nav-link:hover {
  color: #ff5c56; /* Color on hover */
}

.buttons-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbar .btn-outline-light {
  color: #ffffff;
  border-color: #ffffff;
}
  
.navbar .btn-outline-light:hover {
  color: #ff5c56;
  border-color: #ff5c56;
}

/* Add padding to the left of the logo image in the navbar */
.navbar-brand img {
  margin-left: 20px; /* Adjust this value to change the spacing */
}

.nav-link i{
  filter : invert();
}

/* Add this new rule to change h1 headings to use Chonburi font */
h1 {
  font-family: 'Chonburi', sans-serif;
}
