/* Apply Lato font to all paragraphs */
p {
  font-family: 'Lato', sans-serif;
  text-align: justify; /* Justifies text */
}

/* Home Page Styles */
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  width: 100%;
}

/* About Section Styles */
.about-section {
  position: relative;
  background-image: url('../images/home.png'); /* Adjust path as needed */
  background-size: cover;
  
  width: 100%;
  height: 70vh; /* Ensure section occupies the full height */
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: center;
  align-items: center;
  text-align: center; /* Center align text content */
  padding: 2rem; /* Add padding around the content */
}

.about-section h1, 
.about-section h3, 
.about-section p {
  margin-bottom: 1.5rem; /* Add space between elements */
  max-width: 800px; /* Limit the width of the content */
}

.about-section .buttonmen {
  margin-top: 1.5rem; /* Add space above the button */
}

/* Typewriter Effect */
.typewriter-title {
  overflow: hidden; /* Ensures the text doesn't wrap */
  background: linear-gradient(to bottom, #ffcc00, #ffbc20); /* More intense yellow-gold gradient */
  -webkit-background-clip: text; /* Clips the background to the text */
  color: transparent; /* Makes the text color transparent, showing the gradient */
  font-size: 5rem;
  white-space: nowrap; /* Prevents the text from wrapping to the next line */
  border-right: 4px solid #ffcc00; /* Cursor effect */
  font-family: 'Chonburi', sans-serif; /* Monospace font for typewriter effect */
  width: 0; /* Initially set width to 0 for typewriting effect */
  animation: typing 4s steps(40, end) forwards, blink-caret 0.75s step-end infinite; /* Apply typing animation */
  margin-bottom: 20px;
}



/* Fade In Animation */
.fade-in-text {
  opacity: 0;
  font-size: 4.5rem;
  font-family: 'Lato', sans-serif;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 4s; /* Delays until typing finishes */
  margin-bottom: 30px;
}



/* Keyframes for Animations */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%; /* Adjust based on actual content width */
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Button Styles */
.buttonmen,
.button-booking {
  background-color: #292728; /* Red background color */
  border-color: #dc3545; /* Matching border color */
  font-family: 'Poppins', sans-serif; /* Consistent font */
  font-size: 1rem; /* Adjusted font size */
  padding: 8px 16px; /* Adjusted padding */
  border-radius: 25px; /* Rounded corners */
  text-transform: uppercase; /* Uppercase text */
  transition: background-color 0.3s ease; /* Smooth color transition */
  width: auto; /* Allows width to adjust based on content */
  max-width: 200px; /* Maximum width for the button */
  display: inline-block; /* Ensures buttons are displayed inline */
}

.buttonmen:hover,
.button-booking:hover {
  background-color: #c82333; /* Darker red for hover effect */
  border-color: #c82333; /* Matching border color on hover */
}

/* About Us Section Styles */
.about-us-section {
  text-align: center; /* Center align the content */
  padding: 4rem 2rem; /* Add padding to the section */
  background-color: #fff; /* Background color */
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.about-us-description {
  font-size: 1.2rem; /* Slightly larger text for description */
  color: #6c757d; /* Light grey color for the text */
  max-width: 800px; /* Limit the width of the text */
  margin: 0 auto 2rem; /* Center the text and add margin below */
  line-height: 1.6; /* Increase line height for readability */
}

.about-us-image {
  max-width: 1500px;
  width: 100%; /* Ensure image doesn't overflow */
  height: auto; /* Maintain aspect ratio */
  max-height: 500px; /* Set a maximum height to make the image shorter */
  border-radius: 8px; /* Add slight rounding to image corners */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
  margin-top: 2rem; /* Add spacing above the image */
}

.about-us-heading {
  font-size: 3rem;
  font-family: 'Chonburi', sans-serif;
  margin-bottom: 15px;
  text-align: center;
  color:  rgba(116, 28, 37, 1);;
}

/* Review Section Styles */
.home-page .review-section {
  background-color: rgba(116, 28, 37, 1);
  width: 100%; /* Match the width of other sections */
  margin: 0 auto; /* Center the section horizontally */
  padding: 2rem; /* Adjust padding as needed */
}

.review-section-card {
  margin: 5rem auto;
  padding: 1.5rem;
  max-width: 1000px; /* Adjust width as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.existing-reviews {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Space between cards */
  margin-bottom: 5%;
  justify-content: center;
}

.review-card {
  flex: 1 1 calc(33.33% - 1rem); /* Three cards per row with space in between */
  margin-bottom: 1rem;
}

.encouragement-message {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  font-style: italic;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 5%; /* Add padding on the left to push content away from the edge */
  height: fit-content;
}
/* Trading Hours Section Styles */
.trading-hours-section {

  color: #fff; /* White text */
  justify-content: center;
  width: 100%; /* Full width */
}

.trading-hours {
  background-color: #fff; /* Light background for the content */
  color: #292728; /* Dark text */
  border-radius: 8px; /* Rounded corners */
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  justify-content: center;
  margin: 0 auto; /* Center the trading hours content */
}

.trading-hours h3 {
  font-family: 'Chonburi', sans-serif;
  font-size: 2rem;
  color: rgba(116, 28, 37, 1);
  margin-bottom: 15px;
  margin-top: 20px;
}

.trading-hours ul {
  list-style: none;
  padding: 0;
}

.trading-hours li {
  font-size: 1rem; /* Slightly larger text for description */
  color: #6c757d; /* Light grey color for the text */
  max-width: 800px; /* Limit the width of the text */
  margin: 0 auto 2rem; /* Center the text and add margin below */
  line-height: 1.6; /* Increase line height for readability */
  margin-bottom: 10px;
}

/* Restaurant Details Section */
.restaurant-details-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1500px; /* Adjust based on your layout needs */
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  overflow: hidden; /* Ensure content stays within bounds */
}

/* Restaurant Details Left Column */
.details-left {
  flex: 1;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.8); /* Light background for contrast */
  color: #000;
  font-family: 'Chonburi',sans-serif;
  
  
}



/* Restaurant Details Right Column */
.details-right {
  flex: 1;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.8); /* Light background for contrast */
  color: #000;
}

/* Address, Phone, and Email Sections */
.address-section,
.phone-section,
.email-section {
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex; /* Enable flexbox */
  
  
  flex-direction: column; /* Stack items vertically */
}

/* Heading Styles */
.address-section h3,
.phone-section h3,
.email-section h3 {
  font-family: 'Chonburi', sans-serif;
  font-size: 1.5rem; /* Adjust size as needed */
  color: #292728; /* Dark color for headings */
  display: flex; /* Make heading a flex container */
  align-items: center; /* Center align heading items */
}

/* Paragraph Styles */
.address-section p,
.phone-section p,
.email-section p {
  margin: 5px 0 0 30px; /* Add space above paragraph and left alignment */
  padding: 0; /* Remove default padding */
  font-size: 1rem; /* Adjust text size */
  line-height: 1.5; /* Ensure readability */
 
}

/* Icon Background Style */
.address-section p i,
.phone-section p i,
.email-section p i,
.address-section h3 i,
.phone-section h3 i,
.email-section h3 i {
  margin-right: 8px; /* Gap between icon and text */
  font-size: 1.5rem; /* Smaller size for icons */
  display: inline-block;
  width: 2.5rem; /* Adjust width of the circle */
  height: 2.5rem; /* Adjust height of the circle */
  border-radius: 50%; /* Makes the background circular */
  background: linear-gradient(45deg, #741c25, #741c25) !important; /* Adjust the colors as needed */
  color: #fff; /* Icon color (white) */
  text-align: center; /* Center the icon inside the circle */
  line-height: 2.5rem; /* Align icon vertically */
  vertical-align: middle; /* Align icon with text */
  margin-top: 5px;
}

/* Map Container */
.map-container {
  margin-top: 1rem;
  width: 100%;
  margin-bottom: 1rem;
 
  
}

.map-container iframe {
  width: 100%;
  height: 450px; /* Adjust as needed */
  border: 0;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
footer {
  background-color: #292728;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .about-us-section {
    flex-direction: column;
  }
  
  .about-us-images {
    margin-right: 0;
  }

  .review-card {
    flex: 1 1 calc(100% - 1rem); /* Full width on smaller screens */
  }
}
