.deliveries-container {
    padding: 20px;
  }
  
  .deliveries-container h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  /* Summary Section */
  .deliveries-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  
  
  /* Progress Circle */
  .percentage-change {
    font-size: 18px;
    margin-top: 8px;
}

.progress-circle {
    width: 100px;
    height: 100px;
}


.total-pending-deliveries h4 {
    color: #888;
    font-size: 16px;
    margin: 0;
}

.total-pending-deliveries{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
  /* Table Styles */
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-striped tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Light gray for odd rows */
  }
  
  .table-striped th,
  .table-striped td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table-striped th {
    background-color: #4CAF50; /* Header background color */
    color: white;
  }
  
  
  .btn:hover {
    background-color: #741c25;
    color: white;
  }
  