.driver-profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 60px;
  }
  
  .driver-profile-container h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 80px;
  }
  
  .profile-content {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  
  .profile-photo {
    width: auto;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    margin-left: -200px;
  }
  
  .profile-details {
    flex-grow: 1;
  }
  
  .input-field {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .input-field label {
    width: 150px;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .input-field label i {
    margin-right: 8px;
  }
  
  .input-field input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .edit-button, .save-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-button:hover, .save-button:hover {
    background-color: #0056b3;
  }

  .icon-spacing{
   
        margin-right: 8px; /* Adjust the value as needed */
      
  }

  .table table-striped{
    margin-top: 50px;
  }
  